---
layout: default
title: chrawl Devlog
published: true
---

<div class="blogPreview">
	<article class="post">
      <h1><a href="{{ site.baseurl }}{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></h1>
    </article>
</div>

<div class="images">
  {% for img in site.data.img %}
  <article class="image">
    {% if img.type == "image" %}
    	<img src="{{img.link}}.png" alt="{{img.title}}">
    {% else %}
    <video autoplay="autoplay" loop="loop" poster="{{img.link}}.jpg" preload="auto"><source src="{{img.link}}.webm" type="video/webm"></video>
    {% endif %}
    	<div class="imageOverlay"></div>
  </article>
  {% endfor %}
</div>
