---
layout: default
title: chrawl Devlog
published: true
---


<div class="blogPreview">
  <h1>New on the blog:</h1>
  {% for post in site.posts limit:3 %}
	<article class="postPreview">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    </article>
  {%endfor%}
</div>

<div class="images">
  {% for img in site.data.img %}
  <article class="image">
    {% if img.type == "image" %}
    	<img src="{{img.link}}.png" alt="{{img.title}}">
    {% else %}
    <video autoplay="autoplay" loop="loop" poster="{{img.link}}.jpg" preload="auto"><source src="{{img.link}}.webm" type="video/webm"></video>
    {% endif %}
    	<div class="imageOverlay"></div>
  </article>
  {% endfor %}
</div>
